.hero {
  background-color: $hero-background;
  &__h1 {
    color: $third-text-color;
    font-size: 44px;
    letter-spacing: 6%;
    //  line-height: 24px;
  }

  &__btn {
    font-weight: 700;
    letter-spacing: 6%;
    font-size: 16px;
    color: $third-text-color;
    background-color: $hover-color;
    &:hover,
    &:focus {
      background-color: $third-text-color;
      color: $secondary-text-color;
    }
  }
}
